.test{
    p{
        font-size: 22px;
        font-weight: 600;
        font-family: sans-serif;
        margin-bottom: 5px;
    }

    .radio .ant-radio-wrapper {
        font-size: 19px; /* Adjust this value as needed */
        font-family: sans-serif;
      }
}


.text{
  margin-top: 50px;
  h2{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}



@media screen and (max-width: 768px){
  .text{
    h2{
      font-size: 16px !important;
    }
  }

    .radio .ant-radio-wrapper {
        font-size: 14px !important; /* Adjust this value as needed */
        font-family: sans-serif;
      }

      p{
        font-size: 18px !important;
        font-weight: 600;
        font-family: sans-serif;
        margin-bottom: 5px;
    }
}


.form-btn{
    background: #0C3B2E !important;
}


.radio {
  .ant-radio-wrapper {
    // Adjust the font size and other properties as needed
    font-size: 19px;
    font-family: sans-serif;

    // Style for the radio button label
    color: #333; // Change this to your desired color

    // Ensure the color change is applied even if overridden by other styles
    .ant-radio-checked .ant-radio-inner {
      background-color: #1890ff; // Color of the selected radio button
      border-color: #1890ff; // Border color of the selected radio button
    }

    .ant-radio-inner {
      border-color: #0C3B2E !important; // Border color of the unselected radio button
      background-color: #fff; // Background color of the unselected radio button
    }

    .ant-radio-checked {
      .ant-radio-inner {
        background-color: #1890ff; // Color of the selected radio button
        border-color: #1890ff !important; // Border color of the selected radio button
      }
    }

    .ant-radio-disabled .ant-radio-inner {
      background-color: #d9d9d9; // Background color of the disabled radio button
      border-color: #d9d9d9; // Border color of the disabled radio button
    }
  }
}